.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.field ::placeholder {
    color: var(--white);
}

.form input[type="text"],
.form select {
    padding: 1rem;
    color: var(--white);
    background-color: transparent;
    border: .3rem solid var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}
.form select option {
    background-color: rgb(0, 0, 0, 90%);
}

.submit {
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1.5rem;
}
.submit:hover {
    filter: brightness(90%);
}